@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.referral_work {
   @include mt;
   margin-bottom: 180px;

   @include desktop {
      margin-bottom: 140px;
   }

   @include tablet {
      margin-bottom: 60px;
   }

   &_wrap {}
}