@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.cost_cheaper {
   @include mt;

   &_wrap {
      &_table_scroll {
         @include mobile {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
               display: none;
            }
         }
      }

      &_table {
         margin-top: fl(60, 40);
         width: 100%;
         max-width: 100%;
         border-collapse: separate;
         border-spacing: 0;
         table-layout: fixed;
         border-radius: 14px;
         overflow: hidden;

         @include desktop {
            margin-top: 40px;
         }

         @include tablet {
            margin-top: 24px;
            border-radius: 8px;
         }

         @include mobile {
            min-width: 600px;
         }

         thead {
            th {
               @include largeText;
               text-align: left;
               font-weight: 500;
               padding: fl(24, 16) fl(40, 20);
               border-right: 2px solid #fff;

               &:first-child {
                  background: #E5E5E5;
                  color: #191919;
               }

               &:last-child {
                  background: #0169F9;
                  color: #fff;
                  border-right: 0;
               }

               @include desktop {
                  padding: 16px 20px;
               }

               @include tablet {
                  padding: 14px 16px;
               }
            }
         }

         tbody {
            td {
               @include mediumText;
               padding: fl(22, 14) fl(40, 20);
               border-top: 2px solid #fff;
               border-right: 2px solid #fff;
               vertical-align: middle;

               &:first-child {
                  background: #F6F6F6;
                  color: #191919;
               }

               &:last-child {
                  background: #E6F1FF;
                  color: #191919;
                  border-right: 0;
               }

               @include desktop {
                  padding: 14px 20px;
               }

               @include tablet {
                  padding: 10px 16px;
               }
            }
         }

         &_item {
            display: flex;
            align-items: center;
            column-gap: fl(20, 16);

            @include desktop {
               column-gap: 16px;
            }

            @include tablet {
               column-gap: 10px;
            }

            &_icon {
               width: fl(28, 24);
               height: fl(28, 24);
               border-radius: 50%;
               background: #0169f9;
               flex-shrink: 0;
               display: inline-flex;
               align-items: center;
               justify-content: center;

               @include desktop {
                  width: 24px;
                  height: 24px;
               }

               @include tablet {
                  width: 18px;
                  height: 18px;
               }

               svg {
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }
   }
}