@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.single_header {

   @include tablet {
      margin-top: 16px;
   }

   >* {
      &:first-child {
         margin-top: 0px !important;
      }

      &:last-child {
         margin-bottom: 0px !important;
      }
   }

   &_thumb {
      width: 100%;
      height: auto;
      border-radius: 14px;
      background: linear-gradient(180deg, #D6E0FC 0%, #EBF0FE 100%);
      overflow: hidden;

      @include tablet {
         border-radius: 10px;
      }

      img {
         width: 100%;
         height: auto;
      }
   }

   &_tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 30px;

      @include desktop {
         gap: 10px;
      }

      @include tablet {
         gap: 6px;
         margin-top: 16px;
      }

      &_tag {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         padding: 10px 20px 12px 20px;
         border-radius: 50px;
         background: #E6F1FF;
         @include h4;
         color: #0169F9;

         @include tablet {
            padding: 8px 15px 10px 15px;
         }

      }
   }

   &_title {
      margin-top: 24px;
      @include h1;
      color: $black;

      @include tablet {
         margin-top: 16px;
      }
   }

   &_metadata {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 20px;
      margin-top: 16px;

      @include tablet {
         gap: 8px 14px;
         margin-top: 12px;
      }

      &_item {
         @include smallText;
         color: #9C9C9C;
      }
   }

   &_meta {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 12px;

      @include tablet {
         margin-top: 10px;
      }

      &_watch {
         display: flex;
         align-items: center;
         column-gap: 9px;
         @include smallText;
         color: #9C9C9C;

         &_icon {
            display: flex;
            flex-shrink: 0;
            width: 16px;
            height: 14px;

            svg {
               width: 100%;
               height: 100%;
            }
         }
      }
   }
}
