@use '@/scss/media'as *;
@use '@/scss/variables'as *;
@use '@/scss/mixins'as *;

.home_call_bottom {
   align-items: center;
   margin-top: fl(160, 60);

   @include desktop {
      margin-top: 60px;
   }

   @include tablet {
      margin-top: 80px;
   }

   @include mobile {
      display: none;
   }

   &_line {
      display: flex;
      width: 100%;
      max-width: 100%;
      height: auto;

      svg {
         width: 100%;
         max-width: 100%;
         height: auto;
      }
   }

   &_animate {
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 240px;
      width: 100%;
      max-width: 100%;
      overflow: hidden;

      @include desktop {
         min-height: 153px;
      }

      @include tablet {
         min-height: 65px;
      }

      &_it {
         display: flex;
         flex-direction: column;
         align-items: center;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         max-width: 100%;
         row-gap: fl(5, 0);
         will-change: transform;
         opacity: 0;

         @include desktop {
            row-gap: 0px;
         }

         &_number {
            color: $white;
            text-align: center;
            font-family: "Gilroy", sans-serif;
            font-size: 190px;
            font-weight: 500;
            line-height: 100%;

            @include desktop {
               font-size: 125px;
               line-height: 100%;
            }

            @include tablet {
               font-size: 40px;
            }
         }

         &_text {
            @include h3;
            color: $white;
         }
      }
   }
}