@use '@/scss/media'as *;
@use '@/scss/variables'as *;
@use '@/scss/mixins'as *;

.home_flow {
   margin-top: fl(180, 140);

   @include desktop {
      margin-top: 140px;
   }

   @include tablet {
      margin-top: 60px;
   }

   &_wrap {
      &_left {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         border-radius: 14px;
         overflow: hidden;
         background: $bg-grey;
         position: relative;
         z-index: 1;
         aspect-ratio: 225/127;
         height: auto;
         background-color: #f6f6f6;

         @include tablet {
            margin-top: 24px;
            border-radius: 10px;
         }

         svg {
            width: 100%;
            height: auto;
            z-index: 1;
         }

         &_dots {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }

      &_right {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         height: 100%;
         row-gap: fl(44, 34);

         @include desktop {
            row-gap: 34px;
         }

         @include tablet {
            row-gap: 24px;
         }
      }

      &_bottom {
         display: flex;
         column-gap: fl(80, 60);
         justify-content: center;
         margin-top: fl(95, 70);

         @include desktop {
            margin-top: 70px;
            column-gap: 60px;
         }

         @include tablet {
            margin-top: 20px;
            column-gap: 0px;
            flex-direction: column;
            row-gap: 20px;
         }

         &_it {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: fl(20, 16);
            border-radius: 14px;
            border: 1px dashed $grey;
            background: $white;
            padding: fl(40, 30);
            position: relative;
            min-width: fl(423, 336);

            @include desktop {
               padding: 30px;
               column-gap: 16px;
               min-width: 336px;
            }

            @include tablet {
               padding: 16px;
               column-gap: 12px;
            }


            &:first-child {
               &::before {
                  content: '';
                  display: block;
                  width: fl(150, 64);
                  height: fl(155, 120);
                  aspect-ratio: 1/1;
                  border-radius: 0 0 0 14;
                  position: absolute;
                  right: 100%;
                  bottom: 50%;
                  border-left: 1px dashed $grey;
                  border-bottom: 1px dashed $grey;

                  user-select: none;
                  pointer-events: none;

                  @include desktop {
                     width: 64px;
                     height: 120px;
                  }

                  @include tablet {
                     display: none;
                  }
               }
            }

            &:last-child {
               &::after {
                  display: none;

                  @include tablet {
                     display: block;
                  }
               }
            }

            &::after {
               content: '';
               display: block;
               width: fl(81, 61);
               height: 2px;
               position: absolute;
               left: 100%;
               top: 50%;
               transform: translateY(-50%);
               border-top: 1px dashed $grey;
               user-select: none;
               pointer-events: none;
               z-index: -1;

               @include desktop {
                  width: 61px;
               }

               @include tablet {
                  width: 2px;
                  height: 30px;
                  top: auto;
                  bottom: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  border-left: 1px dashed $grey;
                  border-bottom: unset;
               }
            }

            &_check {
               display: flex;
               align-items: center;
               justify-content: center;
               width: fl(35, 28);
               height: fl(35, 28);
               background: $blue;
               border-radius: 6px;
               border: 1px solid $blue;
               flex-shrink: 0;

               @include desktop {
                  width: 28px;
                  height: 28px;
               }

               @include tablet {
                  width: 22px;
                  height: 22px;
               }

               svg {
                  @include svgDefault;
               }
            }

            &_text {
               @include largeText;
               color: $black;
            }
         }
      }

      &_under_text {
         display: inline-block;
         margin-top: fl(50, 30);
         text-align: center;
         width: 100%;
         @include largeText;
         color: $grey;
         text-wrap: balance;

         @include desktop {
            margin-top: 30px;
         }

         @include tablet {
            margin-top: 24px;
         }



         span {
            display: inline;
            color: $blue;

            span {
               display: inline-flex;
               width: 13px;
               height: 16px;
               transform: translateY(1px);

               @include desktop {
                  width: 11px;
                  height: 14px;
               }

               @include tablet {
                  width: 10px;
                  height: 12px;
               }

               svg {
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }
   }
}