@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.how_work_contacts {
   margin-top: fl(180, 120);

   @include desktop {
      margin-top: 120px;
   }

   @include tablet {
      margin-top: 60px;
   }

   &_wrap {}
}

.how_work_source_wrap_last {
   display: flex;
   flex-direction: column;
   row-gap: fl(30, 20);
   margin-top: fl(60, 40);

   @include desktop {
      row-gap: 20px;
      margin-top: 40px;
   }

   @include tablet {
      margin-top: 24px;
      row-gap: 16px;
   }

   &_title {
      @include h3;
      color: $white;
   }

   &_list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 calc(0px - fl(20, 15));
      row-gap: 7px;

      @include desktop {
         margin: 0 -15px;
      }

      @include tablet {
         margin: 0 -3.5px;
      }

      &_col {
         display: block;
         width: 100%;
         flex: 1 0 25%;
         padding: 0 fl(20, 15);

         @include desktop {
            padding: 0 15px;
         }

         @include tablet {
            flex: unset;
            max-width: 50%;
            padding: 0 3.5px;
         }

         @include mobile {
            max-width: 100%;
         }
      }

      &_it {
         display: flex;
         align-items: center;
         column-gap: fl(20, 16);
         @include h3;
         color: $white;
         padding: fl(39, 29);
         border: 1px dashed #777;
         border-radius: 10px;
         height: 100%;

         @include desktop {
            column-gap: 16px;
            padding: 29px;
         }

         @include tablet {
            column-gap: 12px;
            padding: 15px;
         }
      }
   }
}