@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.bubble_correct {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   @include h4;
   color: #FFF;
   background: #34C759;
   border-radius: 50px;
   padding: fl(10, 6) fl(20, 16) fl(12, 8) fl(20, 16);
   width: fit-content;
   position: relative;
   will-change: transform, scale, opacity;
   font-weight: 400;

   @include desktop {
      padding: 6px 16px 8px 16px;
   }

   @include tablet {
      padding: 6px 14px;
   }

   &_arrow {
      display: flex;
      width: fl(24, 20);
      height: fl(24, 20);
      flex-shrink: 0;
      position: absolute;
      top: -50%;
      transform: translateY(50%);
      right: 0;

      @include desktop {
         width: 20px;
         height: 20px;
      }

      @include tablet {
         width: 18px;
         height: 18px;
      }

      svg {
         width: 100%;
         height: 100%;
      }
   }

   &_percent {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: fl(3, 2) fl(8, 7) fl(3, 2) fl(8, 7);
      color: #34C759;

      font-size: fl(12, 10);
      font-weight: 500;
      line-height: fl(18, 6);
      background: #FFF;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      left: 0;

      @include desktop {
         font-size: 10px;
         line-height: 16px;
         padding: 2px 7px;
      }

      @include tablet {
         padding: 1px 6px;
      }
   }

   &_blue {
      background: #0169F9;
   }
}

.bubble_in_correct {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   @include h4;
   color: #FFF;
   background: #D72D1E;
   border-radius: 50px;
   padding: fl(10, 6) fl(20, 16) fl(12, 8) fl(20, 16);
   width: fit-content;
   position: relative;
   will-change: transform;
   font-weight: 400;

   @include desktop {
      padding: 6px 16px 8px 16px;
   }

   @include tablet {
      padding: 6px 14px;
   }

   &_arrow {
      display: flex;
      width: fl(24, 20);
      height: fl(24, 20);
      flex-shrink: 0;
      position: absolute;
      top: -50%;
      transform: translateY(50%);
      right: 0;

      @include desktop {
         width: 20px;
         height: 20px;
      }

      @include tablet {
         width: 18px;
         height: 18px;
      }

      svg {
         width: 100%;
         height: 100%;
      }
   }

   &_percent {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: fl(3, 2) fl(8, 7) fl(3, 2) fl(8, 7);
      color: #D72D1E;

      font-size: fl(12, 10);
      font-weight: 500;
      line-height: fl(18, 6);
      background: #FFF;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      left: 0;

      @include desktop {
         font-size: 10px;
         line-height: 16px;
         padding: 2px 7px;
      }

      @include tablet {
         padding: 1px 6px;
      }
   }

   &_blue {
      background: #0169F9;
   }
}

.bubble_default {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   @include h4;
   color: $black;
   background: $white;
   border-radius: 50px;
   padding: fl(10, 6) fl(20, 16) fl(12, 8) fl(20, 16);
   width: fit-content;
   position: relative;
   will-change: transform;
   font-weight: 400;

   @include desktop {
      padding: 6px 16px 8px 16px;
   }

   @include tablet {
      padding: 6px 14px;
   }
}

.bubble_big_correct {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   column-gap: 20px;
   background: #34C759;
   border-radius: 14px;
   padding: fl(24, 16) fl(30, 20);
   width: fit-content;
   position: relative;
   will-change: transform, scale, opacity;
   font-weight: 400;

   @include desktop {
      padding: 16px 20px;
   }

   @include tablet {
      padding: 12px;
      border-radius: 10px;
      column-gap: 8px;
   }

   &_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include largeText;
      color: $white;
   }

   &_icon {
      display: flex;
      width: fl(40, 30);
      height: fl(40, 30);
      flex-shrink: 0;

      @include desktop {
         width: 30px;
         height: 30px;
      }

      @include tablet {
         width: 24px;
         height: 24px;
      }

      svg {
         width: 100%;
         height: 100%;
      }
   }

   &_percent {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: fl(3, 2) fl(8, 7) fl(3, 2) fl(8, 7);
      color: #34C759;

      font-size: fl(16, 12);
      font-weight: 500;
      line-height: fl(20, 16);
      background: #FFF;
      border-radius: 50px;
      position: absolute;
      right: 10px;
      bottom: 100%;
      transform: translateY(50%);

      @include desktop {
         font-size: 12px;
         line-height: 16px;
         padding: 2px 7px;
      }

      @include tablet {
         padding: 1px 6px;
      }
   }

   &_blue {
      background: #0169F9;
   }
}