@use "@/scss/variables"as *;
@use "@/scss/mixins"as *;
@use "@/scss/media"as *;

.knowledge_search {
   display: flex;
   align-items: center;
   margin-top: fl(40, 30);
   width: 100%;
   max-width: fl(586, 440);
   height: fl(80, 68);
   position: relative;

   @include desktop {
      margin-top: 30px;
      max-width: 440px;
      height: 68px;
   }

   @include tablet {
      margin-top: 16px;
      max-width: 400px;
      height: 54px;
   }

   input {
      width: 100%;
      height: 100%;
      border-radius: 14px;
      background: #F6F6F6;
      padding: 0 fl(60, 50) 0 fl(30, 20);
      border: 1px solid transparent;
      transition: .4s;

      @include largeText;
      color: $black;

      @include desktop {
         padding: 0 50px 0 20px;
      }

      @include tablet {
         border-radius: 10px;
      }

      &::placeholder {
         @include largeText;
         color: #777;
      }

      &:focus {
         border: 1px solid $black;
      }
   }

   button {
      display: flex;
      position: absolute;
      right: fl(30, 20);
      cursor: pointer;
      width: fl(20, 18);
      height: fl(20, 18);
      margin: 0px -10px;
      padding: 10px;
      box-sizing: content-box;
      @include hoverBouce;

      @include desktop {
         width: 18px;
         height: 18px;
         right: 20px;
      }

      @include tablet {
         width: 16px;
         height: 16px;
      }

      @include hover {
         svg {
            path {
               stroke: $black;
            }
         }
      }

      svg {
         width: 100%;
         height: 100%;

         path {
            transition: .4s;
         }
      }
   }

}

input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
   appearance: none;
   display: none;
}