@use '@/scss/media'as *;
@use '@/scss/variables'as *;
@use '@/scss/mixins'as *;

.home_security_swiper {
   width: 100%;
   max-width: 100%;
   min-width: 0px;
   overflow: visible;


   &_it {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: fl(460, 380);
      padding: fl(40, 30);
      border-radius: 14px;
      background: rgba(255, 255, 255, 0.06);
      height: auto;
      backdrop-filter: blur(5px);
      transform: translateZ(0);
      will-change: transform;

      @include desktop {
         padding: 30px;
         max-width: 380px;
      }

      @include tablet {
         padding: 20px;
         border-radius: 10px;
         max-width: 310px;
      }

      @include h3;
      color: $white;
   }

   &_controls {
      display: flex;
      align-items: center;
      column-gap: 6px;
      margin-top: fl(30, 20);

      @include desktop {
         margin-top: 20px;
      }

      @include tablet {
         display: none;
      }

      &_prev:global(.swiper-button-prev) {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: fl(50, 40);
         height: fl(50, 40);
         flex-shrink: 0;
         background: rgba(255, 255, 255, 0.06);
         backdrop-filter: blur(25px);
         color: $white;
         border-radius: 14px;
         cursor: pointer;

         @include desktop {
            width: 40px;
            height: 40px;
         }

         @include hoverBouce;

         svg {
            @include svgDefault;

            path {
               stroke: currentColor;
            }
         }
      }

      &_next:global(.swiper-button-next) {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: fl(50, 40);
         height: fl(50, 40);
         flex-shrink: 0;
         background: rgba(255, 255, 255, 0.06);
         backdrop-filter: blur(25px);
         color: $white;
         border-radius: 14px;
         cursor: pointer;

         @include desktop {
            width: 40px;
            height: 40px;
         }

         @include hoverBouce;

         svg {
            @include svgDefault;

            path {
               stroke: currentColor;
            }
         }
      }

      &_prev:global(.swiper-button-lock) {
         display: none;

         @include desktop {
            width: 40px;
            height: 40px;
         }

         @include hoverBouce;

         svg {
            @include svgDefault;

            path {
               stroke: currentColor;
            }
         }
      }

      &_next:global(.swiper-button-lock) {
         display: none;
      }
   }

   &_pagination:global(.swiper-pagination) {
      display: none;

      @include tablet {
         display: flex;
         justify-content: center;
         align-items: center;
         column-gap: 6px;
         position: unset;
         margin: 0;
         padding: 0;
         width: 100%;
         max-width: 100%;
         margin-top: 16px;
      }

      :global(.swiper-pagination-bullet) {
         background: #FFF;
         opacity: .2;
         width: 4px;
         height: 4px;
         margin: 0;
         border-radius: 50%;
         transition: opacity .4s;
      }

      :global(.swiper-pagination-bullet-active) {
         opacity: 1;
         width: 6px;
         height: 6px;
      }
   }


}